@font-face {
    font-family: "starwars_font";
    src: url("../../assets/Fonts/Starjedi.ttf");
}
.container_body{
    padding: 0 100px;
}
.div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px 75px;
}
.titulo{
    text-align: center;
    margin-top: 20px;
    color: #faeb1c;
    text-align: center;
    margin: 40px 0;
    font-family: "starwars_font", sans-serif;
    letter-spacing: 4px;
    text-shadow: 1px 5px 5px #000000;
}

@media (max-width:1024px){
    .container_body{
        padding: 0 20px;
    }
    .titulo{
        text-align: center;
        color: #faeb1c;
        text-align: center;
        margin: 40px 0;
        font-family: "starwars_font", sans-serif;
        letter-spacing: 4px;
        text-shadow: 1px 5px 5px #000000;
        font-size: 20px;
    }
    .div{
        gap: 30px 30px;
    }
}
@media (max-width:480px) {
    .container_body{
        padding: 0;
    }
}