@font-face {
  font-family: "starwars_symbols";
  src: url("../../assets/Fonts/SF_Distant_Galaxy_Symbols_Revised.ttf");
}
@font-face {
  font-family: "starwars_font";
  src: url("../../assets/Fonts/Starjedi.ttf");
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  width: 100%;
  height: 100px;
  margin: 0;
  align-items: center;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
}
.navbar h1{
  font-size: 30px;
  color: #faeb1c;
  font-family: "starwars_font";
  letter-spacing: 2px;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-menu li{
  margin: 0 5px;
  display: flex;
  align-items: center;
  height: 100px;
  font-family: "starwars_symbols";
  justify-content: center;
  min-width: 177px;
}
.nav-menu li a{
  font-size: 18px;
  padding: 0.5rem 0.5rem;
  color: #faeb1c;
}
.nav-menu li:hover{
  background-color: #faeb1c;
  font-family: 'Archivo', sans-serif;
  transition: all 0.5s ease-out;
}
.nav-menu li:hover a{
  color: black;
  font-size: 22px;
  font-weight: 900;
}
.menu{
  display: flex;
  align-items: center;
  width: 80px;
  justify-content: space-between;
}
.menu-icon{
  display: none;
}
.fa-times, .fa-bars{
  color: #fff
}
@media (max-width:1090px) {
  .nav-menu{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 80px;
  left: -100%;
  opacity: 1;
  transition: all 0.4s ease;
  align-items: center;
  }
  .active {
  background: #242222;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
  }
  .menu-icon{
  font-size: 30px;
  cursor: pointer;
  display: block;
  }
  .nav-menu li{
  width: 100%;
  margin-top: 3rem;
  }
  .nav-menu li a {
  display: block;
  text-align: center;
  padding: 3rem;
  
  border-radius: 4px;
  width: 100%;
  font-size: 1.5rem;
  }
  .nav-menu li a:hover {
  transition: all 0.3s ease;
  }
}
