@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Playfair+Display:ital,wght@1,700&display=swap');

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  margin-bottom: 0;
}
li{
  margin-bottom: 0;
}
a{
  text-decoration: none;
  
}
body{
  background-color: #242424;
}