@font-face {
    font-family: "starwars_symbols";
    src: url("../../assets/Fonts/SF_Distant_Galaxy_Symbols_Revised.ttf");
}

.tarjetaPadre{
    height: 400px;
    width: 300px;
    
}
.tarjeta{
    width: 100%;
    color: #b6b5b5;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:15px;
    padding-bottom: 30px;
    -webkit-box-shadow:0px 0px 10px 3px rgba(204,204,204,0.27);
    -moz-box-shadow: 0px 0px 10px 3px rgba(204,204,204,0.27);
    box-shadow: 0px 0px 10px 3px rgba(204,204,204,0.27);
    transition: all 0.3s;
}
.tarjeta:hover{
    -webkit-box-shadow:0px 0px 10px 3px rgba(243, 240, 240, 0.527);
    -moz-box-shadow: 0px 0px 10px 3px rgba(243, 240, 240, 0.527);
    box-shadow: 0px 0px 10px 3px rgba(243, 240, 240, 0.527);
}
.tarjeta img{
    width: 100%;
    height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 10px;
}
.tarjeta div{
    padding: 10px;
    width: 100%;
    
}
.tarjeta div h2{
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tarjeta section{
    width: 100%;
    padding: 0 20px;
    font-size: 25px;
    text-align: start;
    color: white;
}
.tarjeta section p span{
    font-family: "starWars_symbols", sans-serif;
    font-weight: 100;
}
.tarjeta footer{
    display: flex;
    padding: 0 20px;
    width: 100%;
    margin-top: 40px;
    justify-content: space-between;
    align-items: end;
}
/* .tarjeta footer button{
    width: 70px;
    height: 40px;
    background-color: yellow;
    border-style: none;
    border-radius: 10px;
    font-family: 'Archivo', sans-serif;;
    font-weight: 500;
    cursor: pointer;
} */